@tailwind base;
  @tailwind components;
  @tailwind utilities;

 @layer components {
   .underlined-link {
     ::after {
       content: " ";
     }

     @apply relative inline-flex cursor-pointer overflow-hidden after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:translate-x-[-100%] after:bg-primary after:transition-all hover:after:translate-x-0 focus:after:translate-x-0;
   }

   .page-title {
     @apply mr-2 text-xl font-bold md:text-2xl;
   }

   .icon-btn {
     @apply mr-2 h-4 w-4;
   }

   .cards-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
     gap: 1rem;
     grid-template-rows: auto;

     @media (max-width: 639px) {
       grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)) !important;
     }
   }
 }

 @layer base {
   :root {
     --background: 0 0% 100%;
     --foreground: 0 0% 0%;

     --accent: 237 78.53% 65.29%;
     --accent-foreground: 316,
      33%,
      52%;

     --popover: 0 0% 100%;
     --popover-foreground: 222.2 47.4% 11.2%;

     --border: 214.3 31.8% 91.4%;
     --input: var(--border);

     --muted: var(--border);
     --muted-foreground: 215.4 16.3% 46.9%;

     --card: 0 0% 100%;
     --card-foreground: var(--foreground);

     --primary: var(--accent-foreground);
     --primary-foreground: var(--background);

     --secondary: 238 75% 30%;
     --secondary-foreground: var(--background);

     --destructive: 0 100% 50%;
     --destructive-foreground: 210 40% 98%;

     --ring: var(--accent-foreground);

     --radius: 0.5rem;
   }

   .dark {
     --background: 0 0% 7%;
     --foreground: 0 0% 100%;

     --accent: 237 78.53% 65.29%;
     --accent-foreground: 316,
      33%,
      52%;

     --popover: 0 0% 7%;
     --popover-foreground: 0 0% 100%;

     --border: 0 0% 18%;
     --input: var(--border);

     --muted: var(--input);
     --muted-foreground: 215.4 16.3% 56.9%;

     --card: 224 71% 4%;
     --card-foreground: var(--foreground);

     --primary: var(--accent-foreground);
     --primary-foreground: var(--foreground);

     --secondary: 238 75% 30%;
     --secondary-foreground: var(--foreground);

     --destructive: 0 63% 31%;
     --destructive-foreground: 0 100% 50%;

     --ring: var(--accent-foreground);

     --radius: 0.5rem;
   }
 }

 @layer base {
   * {
     @apply border-border;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     @apply font-heading font-bold;
   }

   body {
     @apply bg-background text-foreground;
     font-feature-settings:
       "rlig" 1,
       "calt" 1;
   }

   .w-1\/7 {
     width: 14.2857143%;
   }

   .w-1\/8 {
     width: 12.5%;
   }}